<%- ored ||= false %>
<%- filter_val ||= nil %>

<%- unless ored %>
  <div id="filter_<%= @filter[:col_name] %>">
<%- end %>  	
	<div style = "width: 22px; float: left; display : table-cell;">
	  <%- unless ored %>
		<%= button_to_remote("-", {:url => { :action => :criteria, :id => "destroy_filter_row", :col_name => "filter_#{@filter[:col_name]}" }}) %>
	  <%- else %>
	    &nbsp;
	  <%- end %>
	</div>	
	<div style = "width: 90px; text-align: right; float: left; line-height:1.6em; display: table-cell; ">
	  <%- unless ored %>	
		<%= @filter[:col_text] %>
	  <%- else %>
	    &nbsp;
	  <%- end %>		
	</div>
	<div style = "width: 130px; text-align: right; float: left; line-height:1.6em; display : table-cell;">
	  <%- unless ored %>	
		<%= acts_as_criteria_input_operator(@filter[:col_subtype], @filter[:col_name], @current_query, @filter[:col_options]) %>
	  <%- else %>
	    or
	  <%- end %>		
	</div>
	<div style = "width: 180px; float: left; display : table-cell;">
		<%- if @filter[:col_options] && @filter[:col_options][:source].blank? %>
		  <%= acts_as_criteria_input_field(@filter[:col_subtype], @filter[:col_name], @current_query, filter_val) %>
		<%- else %>
		  <%= acts_as_criteria_input_source(@filter[:col_subtype], @filter[:col_name], @filter[:col_options][:source], @current_query, filter_val) %>
		<%- end %>
	</div>
	<div style = "clear: both;"></div>
<%- unless ored %>
  </div>
<%- end %>