<div id="criteria_simple" class="<%= options[:class] %>">  
  <% form_tag multi == true ? options[:actions][0].last : options[:action], :method => options[:method], :class => options[:class] do -%>
	<%= text_field_tag("query", @current_query, :size => options[:size] || 25 ) %>
	<%- if multi == true %>	
	  <%= select_tag nil, options_for_select(options[:actions]), :onchange => 'if (this.value) { this.form.action = this.value; }' %>
	<%- end %>
	<%- unless options[:advanced].blank? %>
	  <%- unless options[:advanced][:text].blank? %>
		<%= link_to_remote options[:advanced][:text], :url => { :action => :criteria, :id => "filter" } %>
	  <%- end %>
	  <%- unless options[:advanced][:image].blank? %>
		<%= link_to_remote image_tag(options[:advanced][:image]), :url => { :action => :criteria, :id => "filter" } %>
	  <%- end %>	  
	<%- end %>
	<%- if options[:live].blank? %>
		<%= submit_tag options[:label] %>
	<%- else %>
		<%= observe_field("query", :frequency => options[:live][:frequency], :function => options[:live][:trigger]) %>
	<%- end %>
  <% end -%>
</div>